<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<context:annotation-config/>

	<!-- General framework configuration -->
    
<!-- *************************************************
     **                                             **
     **   Configuration for AuthorBlurb generator   **
     **                                             **
     ************************************************* -->

    <bean id="AuthorBlurbTextdata" class="tgc.authorblurb.AuthorBlurbTextdata"/>
    <bean id="AuthorBlurbModel" class="tgc.authorblurb.AuthorBlurbModel"/>
    <bean id="AuthorBlurbGenerator" class="tgc.authorblurb.AuthorBlurbGenerator">
    	<!-- AuthorBlurbTextdata and AuthorBlurbModel are autowired -->
    	<!-- <property name="authorBlurbTextdata">
    		<ref bean="AuthorBlurbTextdata"/>
    	</property>
    	<property name="authorBlurbModel">
    		<ref bean="AuthorBlurbModel" />
    	</property>-->
    	<property name="outputFile" value="/home/kai/Programmieren/Java/Spring/AuthorBlurb.txt" />
    	<!-- allowed values are defined by enumeration tgc.framework.OutputType -->
    	<property name="outputType" value="TXTFILE" />
    </bean>
    <bean id="tgc.authorblurb.AuthorBlurbProperties" class="tgc.authorblurb.AuthorBlurbProperties" />

<!-- *************************************************
     **                                             **
     ** Configuration for NovelFromQuotes generator **
     **                                             **
     ************************************************* -->

    <bean id="tgc.novelfromquotes.NovelFromQuotesTextdata" class="tgc.novelfromquotes.NovelFromQuotesTextdata">
    	<constructor-arg name="configFilePath" value="config/quotes.xml" />
    </bean>
    <bean id="tgc.novelfromquotes.NovelFromQuotesModel" class="tgc.novelfromquotes.NovelFromQuotesModel">
    	<property name="numberOfChapters" value="12" />
    	<property name="quotesPerChapter" value="25" />
    </bean>
    <bean id="NovelFromQuotesGenerator" class="tgc.novelfromquotes.NovelFromQuotesGenerator">
    	<!-- NovelFromQuotesModel and NovelFromQuotesTextdata are autowired -->
    	<property name="outputFile" value="/home/kai/Programmieren/Java/Spring/NovelFromQuotes.txt" />
    	<!-- allowed values are defined by enumeration tgc.framework.OutputType -->
    	<property name="outputType" value="TXTFILE" />
    </bean>
    
<!-- *************************************************
     **                                             **
     ** Configuration for EpubGenerator             **
     **                                             **
     ************************************************* -->
     
     <bean id="tgc.epubgenerator.EpubTextdata" class="tgc.epubgenerator.EpubTextdata"/>
     <bean id="tgc.epubgenerator.EpubModel" class="tgc.epubgenerator.EpubModel">
     	<property name="textBody" value="#{NovelFromQuotesGenerator.generateText(new java.util.Locale('de'))}" />
     </bean>
     <bean id="tgc.epubgenerator.EpubGenerator" class="tgc.epubgenerator.EpubGenerator">
     	<constructor-arg name="title" value="Das Text Gen Comp - Buch" />
     	<constructor-arg name="author" value="Tom Generator" />
     </bean>
     
<!-- *************************************************
     **                                             **
     **   Configuration for BM text generator       **
     **                                             **
     ************************************************* -->

	 <bean id="BMTextdata" class="tgc.boolmatrix.BMTextdata"/>
     <bean id="BMModel" class="tgc.boolmatrix.BMModel" />
     <bean id="BMTextGenerator" class="tgc.boolmatrix.BMTextGenerator"/>
     
<!-- *************************************************
     **                                             **
     **   Configuration of AspectJ                  **
     **                                             **
     ************************************************* -->

     <aop:aspectj-autoproxy />

     <bean id="LocalizationAspect" class="tgc.framework.LocalizationAspect" >
     	<constructor-arg name="locale" value="#{new java.util.Locale('cs')}" />
     </bean>
</beans>